:root {
  --bg-color: #1f1c2c;
  --text-color: #928dab;
  --btn-color: #c7c4db;
  --pro-color: #312d41;
  --hover-color: #b8b4cf;
  --ins-color: #405de6;
  --git-color: #000000;
  --yt-color: #e60023;
}
::selection {
  background-color: #454158;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.line {
  color: #454158;
}
body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
nav {
  background-color: var(--text-color);
  display: flex;
  justify-content: space-around;
  color: var(--bg-color);
  padding: 25px;
  align-items: center;
  text-transform: capitalize;
}
ul li {
  display: inline-block;
  font-size: 1.5rem;
}
ul li a {
  text-align: center;
  text-decoration: none;
  color: var(--bg-color);
  padding: 1rem;
}
ul li:hover {
  background-color: #7b7696;
  border-radius: 10px;
  padding: 4px 0px;
  transition: color 0.3s ease;
}
.logo {
  font-size: 2rem;
}
.naba {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.intro-text {
  animation: intro 1s ease-in-out;
  text-align: center;
}
.intro-img {
  filter: drop-shadow(0 0 2px #c3bddb);
  animation: image 1.4s ease-in-out;
  margin-left: 2rem;
}
.intro-text h1 {
  color: #ceccdb;
  font-size: 5rem;
}
.intro-text h2 {
  font-size: 2.5rem;
  color: var(--text-color);
}
.btn {
  gap: 8px;
  background-color: var(--btn-color);
  color: var(--bg-color);
  padding: 15px 22px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, filter 0.2s ease;
}
.btn img {
  width: 30px;
  height: 30px;
}
.btn:hover {
  opacity: 0.9;
  filter: drop-shadow(0 0 5px var(--hover-color));
  transform: scale(1.08);
}
.intro-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
@keyframes intro {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes image {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.head {
  color: var(--text-color);
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2rem;
}
.my-img {
  width: 20vw;
  border-radius: 8px;
  transition: transform 0.5s ease;
}
.my-img:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.568);
}
.about {
  display: flex;
  padding: 0 5rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}
.about-text {
  color: var(--text-color);
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.6;
  font-size: 1.17rem;
  padding: 0 3rem;
}
.pro {
  background-color: var(--pro-color);
  border-radius: 8px;
  display: inline-block;
  padding: 12px;
}
.projects img {
  border-radius: 8px;
  width: 25vw;
  height: 40vh;
  margin-bottom: 10px;
}
.projects {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 0 0 0;
}
.project-one:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.project-one {
  transition: transform 0.3s ease, filter 0.2s ease;
    width: 25vw;
}
.project-three:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.project-three {
  transition: transform 0.3s ease, filter 0.2s ease;
    width: 25vw;
}
.project-two:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.project-two {
  transition: transform 0.3s ease, filter 0.2s ease;
    width: 25vw;
}
.project-title {
  text-align: center;
  color: var(--hover-color);
  font-size: 1.5rem;
}
.use {
  background-color: var(--text-color);
  border-radius: 6px;
  padding: 8px;
  font-size: 0.9rem;
  color: #211e2c;
}
.dp {
  color: var(--btn-color);
  font-size: 1rem;
  margin: 1rem 0;
  white-space: wrap;
  text-align: justify;
}
.pill{
  margin-top: 1.2rem;
}
.project-btn {
  background-color: var(--btn-color);
  color: var(--bg-color);
  padding: 14px 22px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease, filter 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto 15px;
}
.project-btn:hover {
  opacity: 0.9;
  filter: drop-shadow(0 0 5px var(--hover-color));
  transform: scale(1.08);
}
.more-project-btn {
  background-color: var(--btn-color);
  color: var(--bg-color);
  padding: 20px 50px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease, filter 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}
.more-project-btn:hover {
  opacity: 0.9;
  filter: drop-shadow(0 0 5px var(--hover-color));
  transform: scale(1.08);
}
.skills {
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--pro-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5rem auto;
  width: 60vw;
}
.skills img {
  width: 8vw;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.skills img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.ri {
  margin-top: 1rem;
}
footer p {
  color: var(--text-color);
  text-align: center;
  line-height: 1.5;
}
footer p:nth-child(2) {
  opacity: 0.7;
}
footer p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  opacity: 0.9;
}
svg {
  width: 1.5rem;
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: var(--text-color);
  border-radius: 15px;
}
.footer-icons svg:hover {
  background-color: var(--data-color);
  fill: white;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
.contact-section {
  padding: 20px;
  background-color: #211e2c;
  color: var(--text-color);
  text-align: center;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.contact-form label {
  text-align: left;
  font-weight: bold;
  margin-bottom: px;
  font-size: 1.3rem;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid var(--pro-color);
  border-radius: 5px;
  background-color: var(--pro-color);
  color: var(--hover-color);
  font-size: 1rem;
  resize: vertical;
  margin: -6px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--hover-color);
  outline: none;
}

.contact-form button {
  margin: 20px 0px;
  padding: 14px;
  background-color: var(--btn-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.contact-form button:hover {
  opacity: 0.9;
  filter: drop-shadow(0 0 3px var(--hover-color));
  transform: scale(1.03);
}
.para {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  margin-top: 11px;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .line {
    border: 1px solid #454158;
  }
  .about-text {
    padding: 0 2rem;
  }
  .intro {
    flex-direction: column;
  }
  .intro-img {
    margin-left: 0;
    margin-top: 1rem;
    width: 90vw;
  }
  .intro h1 {
    font-size: 3.68rem;
  }
  .intro h2 {
    font-size: 1.8rem;
  }
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .btn img {
    width: 22px;
    height: 22px;
  }
  nav {
    display: block;
  }
  ul li {
    display: none;
    justify-content: center;
    border-bottom: 1px solid var(--bg-color);
    flex-direction: column;
  }
  .menu {
    display: block;
  }
  .bur {
    display: flex;
    justify-content: space-between;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
  }
  .head {
    font-size: 1.7rem;
  }
  .about-text {
    font-size: 1rem;
    text-align: justify;
    padding: 0;
    margin: 0;
  }
  .my-img {
    width: 60vw;
    margin: 20px 0 20px 0;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
  }
  .project-title {
    font-size: 1.3rem;
  }
  .project-three h2 {
    font-size: 1.1rem;
  }
  .projects img {
    width: 65vw;
    height: 25vh;
  }
  .project-one {
    width: 65vw;
}
  .project-two {
    width: 65vw;
}
  .project-three {
    width: 65vw;
}
  .project-btn {
    padding: 14px 20px;
    font-size: 0.9rem;
  }
  .more-project-btn {
    padding: 17px 26px;
    font-size: 1.2rem;
  }
  .skills img {
    width: 10vw;
  }
  .skills {
    width: 72vw;
    margin: 2rem auto;
  }
  .about-text {
    padding: 0 2rem;
  }
  .intro {
    flex-direction: column;
  }
  .intro-img {
    margin-left: 0;
    margin-top: 1rem;
    width: 90vw;
  }
  .intro h1 {
    font-size: 3.68rem;
  }
  .intro h2 {
    font-size: 1.8rem;
  }
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .btn img {
    width: 22px;
    height: 22px;
  }
  nav {
    display: block;
  }
  ul li {
    display: none;
    justify-content: center;
    border-bottom: 1px solid var(--bg-color);
    flex-direction: column;
  }
  .menu {
    display: block;
  }
  .bur {
    display: flex;
    justify-content: space-between;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
  }
  .head {
    font-size: 1.7rem;
  }
  .about-text {
    font-size: 1rem;
    text-align: justify;
    padding: 0;
    margin: 0;
  }
  .my-img {
    width: 60vw;
    margin: 20px 0 20px 0;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
  }
  .project-title {
    font-size: 1.3rem;
  }
  .project-three h2 {
    font-size: 1.1rem;
  }
  .projects img {
    width: 65vw;
    height: 25vh;
  }
  .project-btn {
    padding: 14px 20px;
    font-size: 0.9rem;
  }
  .more-project-btn {
    padding: 17px 26px;
    font-size: 1.2rem;
  }
  .skills img {
    width: 10vw;
  }
  .skills {
    width: 72vw;
    margin: 2rem auto;
  }
}

/* 800 */
@media screen and (max-width: 1050px) and (min-width: 768px) {
  .line {
    border: 1px solid #454158;
  }

  nav {
    display: block;
  }

  .menu {
    display: block;
  }

  .bur {
    display: flex;
    justify-content: space-between;
  }

  ul li {
    display: none;
    justify-content: center;
    border-bottom: 1px solid var(--bg-color);
    flex-direction: column;
  }

  .intro {
    flex-direction: column;
  }

  .intro-img {
    margin-left: 0;
    margin-top: 1rem;
    width: 60vw;
  }

  .intro h1 {
    font-size: 4.2rem;
  }

  .intro h2 {
    font-size: 2rem;
  }

  .btn {
    padding: 17px 20px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .btn img {
    width: 25px;
    height: 25px;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
  }

  .head {
    font-size: 1.7rem;
  }

  .about-text {
    padding: 0 2rem;
    font-size: 1rem;
    text-align: justify;
    margin: 0;
  }

  .my-img {
    width: 60vw;
    margin: 20px 0;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
  }

  .projects img {
    width: 65vw;
    height: 25vh;
  }

  .project-title {
    font-size: 1.3rem;
  }

  .project-three h2 {
    font-size: 1.1rem;
  }

  .project-one,
  .project-two,
  .project-three {
    width: 65vw;
  }

  .project-btn {
    padding: 14px 20px;
    font-size: 0.9rem;
  }
  .more-project-btn {
    padding: 17px 26px;
    font-size: 1.2rem;
  }

  .skills {
    width: 72vw;
    margin: 2rem auto;
  }

  .skills img {
    width: 10vw;
  }
}
